.nav {
    // background-color: rgba(0, 116, 248, 0.877);
    background-color: #48b4e0;
    height: 12%;
}

.nev_container {
    margin: auto 5% auto auto;
}

.nav-item {
    a {
        cursor: pointer;
        color: white;
        font-size: 20px;
    }
}


/**/

.body {
    // background-color: #ebecf0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background: url('../../../assets/background.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.forms {
    z-index: 2;
}

#cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

body,
p,
input,
select,
textarea,
button {
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div,
p {
    color: #babecc;
    text-shadow: 1px 1px 1px #fff;
}

form {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

.segment {
    padding: 10px 0;
    text-align: center;
    color: #48b4e0;
}

button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    color: black;
    -webkit-appearance: none;
}

input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
    color: #61677c;
    font-weight: bold;
    // box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.unit .icon {
    margin-right: 0;
}

button.red {
    display: block;
    width: 100%;
    color: #ae1100;
}